<%= image_tag post.picture.url(:medium), class: 'uploaded-pic' %>
		
<p><%= post.caption %></p>

<% post.tags.each do |tag| %>
	<%= link_to tag.name, tag_path(tag) %>
<% end %>


<h5><%= pluralize post.comments.count, 'comment' %></h4>

<% if post.user == current_user %>
	<%= link_to 'Delete', post_path(post), method: :delete %>
<% end %>

<% if user_signed_in? %>
	<%= link_to "Leave a comment", new_post_comment_path(post) %>

	<% if user_likes? post %>
		<%= link_to 'Unlike', post_like_path(post, user_like_for(post)), method: :delete %>
	<% else %>
 		<%= link_to 'Like', post_likes_path(post), method: :post %>
 		<%= link_to 'Hate', post_hates_path(post), method: :post %>
 	<% end %>
<% end %>

<ul>
	<% post.likes.each do |like| %>
		<li><%= like.user.email %> likes this </li>
	<% end %>
</ul>
<ul>
	<% post.comments.each do |comment| %>
		<li> <%= comment.comment %> - <%= comment.user.email %> </li>
	<% end %>
</ul>