<%= link_to 'Create a post', new_post_path %>


<% if @posts.any? %>
 	<% @posts.each do |post| %>
 		<%= post.image %>
 		<%= post.caption %>
 		<%= link_to "Leave a comment", new_post_comment_path(post) %>
 		<h4><%= pluralize post.comments.count, 'comment' %></h4>

 		<% if post.user == current_user %>
 		<%= link_to 'Delete', post_path(post), method: :delete %>
 		<% end %>

 		<ul>
 		<% post.comments.each do |comment| %>
 		<li> <%= comment.comment %> </li>
 		<% end %>
 		</ul>
 	<% end%>
 <% else %>
<p>No posts</p>
 <% end %>