
    <!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
      <div class="container">
        <h1>Welcome to Bubblegram!</h1>
        <p>This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
        <p><a class="btn btn-primary btn-lg" role="button">Learn more &raquo;</a></p>
      </div>
</div>

<template id="ajax-render-comments">
  <li> {{ comment }} - {{ email }} </li>
</template>


<%= link_to 'Create a post','#', :class => "btn btn-primary btn-lg", data: { toggle: 'modal', target: "#createModal"} %>


<!-- Modal -->

<div class="modal fade" id="createModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Create a post</h4>
      </div>
      <div class="modal-body">
        
<div class="container">
<%= form_for @post, html: { multipart: true } do |f| %>
  
<div class="form-bits">
  <%= f.label :picture %>
  <%= f.file_field :picture %>

  <%= f.label :caption %>
  <%= f.text_field :caption %>

  <%= f.label :address %>
  <%= f.text_field :address %>

  <%= f.label :tag_name, "Tags" %>
  <%= f.text_field :tag_name %>

  <%= f.submit 'Create' %>
</div>
 <% end %>
 </div>
      </div>
    </div>
  </div>
</div>

<!-- end of modal -->


<div class="container">
    <% if @posts.any? %>
      <div class="row">
      	<%= render @posts %>
      </div>
    <% else %>
      <p>No posts</p>
    <% end %>
</div>
