
<div class="container">
<%= form_for @post, html: { multipart: true } do |f| %>
	
<div class="form-bits">
	<%= f.label :picture %>
	<%= f.file_field :picture %>

	<%= f.label :caption %>
	<%= f.text_field :caption %>

	<%= f.label :address %>
	<%= f.text_field :address %>

	<%= f.label :tag_name, "Tags" %>
	<%= f.text_field :tag_name %>

	<%= f.submit 'Create' %>
</div>
 <% end %>
 </div>